.appBar {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid var(--mui-palette-divider);

  .navButton {
    color: var(--mui-palette-text-primary);

    &:hover {
      background-color: rgba(255, 255, 255, 0.08); // A generic hover for both themes
    }
  }
}
