// Global variables
@font-stack-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
@font-stack-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

// Base styles
body {
  margin: 0;
  font-family: @font-stack-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: @font-stack-mono;
}
